<div class="footer">
    <div class="pull-right">
        Unete a nuestra comunidad en facebook: <a href="https://www.facebook.com/Km0formacion/">@Km0formacion</a>
    </div>
    <div>
        <strong>Copyright</strong> UniON &copy; 2017
    </div>
</div>
